/*
Model of BIOCSS use
Author: André Laurentino Rodrigues
URL site: http://xordevweb.com.br
Exemplo de uso da BIOCSS em projetos web
*/
/*Reprodução*/
/*
Aqui nós temos o período de reprodução onde temos o começo da estilização. 
Levando como base de exemplo, na reprodução de mamiferos como ser-humano
temos o espermatozóide e o óvulo dando origem a um embrião.
*/
* {
  box-sizing: border-box;
  font-family: arial;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
/*Ciclo do feto */
/*
Etapa onde a folha de estilo começa a ganhar forma, usando como exemplo no ciclo de vida humana seria onde o feto começa seu desenvolvimento dando origem em algumas características.
*/
a,
a:hover {
  text-decoration: none;
}
input[type="text"],
input[type="data"],
select,
textarea {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0.78rem 0.23rem;
}
.bt {
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.12);
  color: #fff;
  display: inline-block;
  font-size: 0.98rem;
  margin: 0.56rem;
  padding: 0.78rem 1rem;
}
.bt .bt-blue {
  background-color: #03a9f4;
  border-color: #03a9f4;
}
.bt .bt-green {
  background-color: #4caf50;
  border-color: #4caf50;
}
.bt .bt-red {
  background-color: #f44336;
  border-color: #f44336;
}
/*Birth*/
/* 
At birth the baby needs a lot of care and attention. 
Our style sheet when it comes to life deserves special 
care because it is in this part that the developer 
has to observe what will increase in the stylesheet. 
We can give you an example when you are starting a card, 
where we will feed the style only to the necessary ones like 
stylings for the card's general body, titles, paragraphs, images and link
*/
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.card .card-title,
.card .card-body,
.card .card-footer {
  margin: 0 auto;
  width: 98%;
}
.card .card-title h3 {
  font-size: 1.5rem;
}
.card .card-body p {
  font-size: 1rem;
}
@media (min-width: 48rem) {
  .card {
    flex-direction: row;
  }
}
