/*
Model of BIOCSS use
Author: André Laurentino Rodrigues
URL site: http://xordevweb.com.br
Below is an example of using BIOCSS with pre-proccessor Stylus
*/

/*Reproduction*/
/*
Here we have the period of reproduction where
 the beginning of the information 
 of stylizations is passed, leading to the human
reproduction we have the sperm and egg giving origin.
*/
*
 box-sizing border-box
 font-family arial
 font-size 100%
 line-height 1.6
 margin 0
 padding 0

/* Style Sheet Formation*/
/*
Step where the style sheet begins to take shape,
using as an example the human life cycle 
would be where the fetus begins to develop 
its limbs until it becomes a baby.
*/
a, a:hover
    text-decoration none
input[type="text"], input[type="data"],
select, textarea
    border 1px solid rgba(0, 0, 0, 0.2)
    padding 0.78rem 0.23rem     
.bt
    border-style solid
    border-width 1px  
    box-shadow 1px 3px 6px rgba(0, 0, 0, 0.12) 
    color #fff
    display inline-block
    font-size .98rem
    margin 0.56rem
    padding 0.78rem 1rem
    .bt-blue
        background-color #03A9F4
        border-color #03A9F4
    .bt-green
        background-color #4CAF50
        border-color #4CAF50    
